<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset='utf-8'/>
        <title> Artificial Intelligence </title>
        <link href="css/styles.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">  
    </head>
    
    <body> 
        <header>
           <h1>Artificial Intelligence</h1>
        </header>
    <nav>
        <a href="/index"> Home </a>
        <a href="/page2"> Types </a>
        <a href="/page3"> Subsets </a>
        <a href="/page4"> Future </a>
    </nav>
    
    <main>