<%- include('partials/header.ejs') %>
        <figure>
            <img src="img/artificial-intelligence-companies.jpg" alt="Picture of Artificial Intelligence" />
            <%- include('partials/fakeemail.ejs') %>
        </figure>
        
        <div id="content">
	        <br />
	        <p><strong>What is Artificial Intelligence?</strong></p>
			<p>Artificial intelligence (AI) is a branch of computer science involving the creation of smart machines built to simulate human intelligence and perform tasks. 
			   There are two types of AI: weak AI and strong AI. AI is an interdisciplinary science with multiple approaches, but advancements in machine learning and 
			   deep learning are creating a paradigm shift in virtually every sector of the tech industry</p>
			<br />
        </div>
        
       
        
    </main>

    <footer>
         <hr />
         <strong>Sources:</strong> 
         <br />
         <a href="https://builtin.com/artificial-intelligence">https://builtin.com/artificial-intelligence</a>
<%- include('partials/footer.ejs') %>