<%- include('partials/header.ejs') %>

        <figure>
            <img src="/img/ai3.png" alt="Picture Artificial Intelligence" />      
            <a href="https://medium.com/@juniormiranda_23768/what-is-the-difference-between-artificial-intelligence-machine-learning-and-deep-learning-71ec27ea5a2a">Picture Source</a>
        </figure>
        
        <div id="content">
	        <br />
	        <p><strong>AI Subsets: Machine Learning vs. Deep Learning</strong></p>
            <p><strong>Machine learning</strong>, a subset of AI, refers to a machine’s ability to think without being externally programmed. Machine learning allows devices to learn directly from the data itself and become more intelligent over time as more data is collected. </p>
			<p><strong>Deep learning</strong>, a subset of machine learning, is a machine learning technique that uses multiple neural network layers to progressively extract higher level features from the raw input data.</p>
			<br /><br />
        </div>
        
    
    </main>

    <footer>
         <hr>
         <strong>Sources:</strong>
         <br />
         <a href="https://www.qualcomm.com/products/artificial-intelligence/what-is-ai-faq">https://www.qualcomm.com/products/artificial-intelligence/what-is-ai-faq</a>
<%- include('partials/footer.ejs') %>
