<%- include('partials/header.ejs') %>
        
        <figure>
            <img src="/img/ai1.png" alt="Picture Artificial Intelligence" />      
        </figure>
        
        <div id="content">
	        <br />
	        <p><strong>Types of AI: Strong AI vs. Weak AI</strong></p>
			<p>AI can be categorized as either weak or strong.</p>
			<ul>
			    <li>Weak AI</li>
			    Narrow AI, or weak AI, has a narrow range of abilities, operating within a limited context. Narrow AI is goal-oriented and designed to perform singular, specific tasks, 
			    such as facial recognition and speech recognition/voice assistants (i.e. Apple’s Siri).
			    <p></p>
			    <li>Strong AI</li>
			    Strong AI, or Artificial general intelligence (AGI), is the concept of a machine that mimics human intelligence and/or behaviors, with the ability to learn and apply its intelligence to solve any problem. 
			    AGI can think, understand, and respond as a human would in a particular situation.
			</ul>
		
			<br />
        </div>
        
    
    </main>

    <footer>
         <hr />
         <strong>Sources:</strong> 
         <br />
         <a href="https://builtin.com/artificial-intelligence">https://builtin.com/artificial-intelligence</a>
         <br />
         <a href="https://codebots.com/artificial-intelligence/the-3-types-of-ai-is-the-third-even-possible">https://codebots.com/artificial-intelligence/the-3-types-of-ai-is-the-third-even-possible</a>
<%- include('partials/footer.ejs') %>