<%- include('partials/header.ejs') %>
        
        <figure>
            <img src="/img/ai4.jpg" alt="Future of AI" />     
            <a href="https://medium.com/mit-initiative-on-the-digital-economy/how-smart-is-artificial-intelligence-35a384b40a05">Picture Source</a>
        </figure>
        
        <div id="content">
	        <br />
	        <p><strong>Future of AI</strong></p>
			<p>Artificial intelligence is impacting the future of virtually every industry, from transportation to manufacturing, healthcare to education, and media to customer service. Artificial intelligence has acted as the main driver of emerging technologies like big data, robotics and IoT,
			and it will continue to act as a technological innovator for the foreseeable future. AI will continue to advance and impact every area of our lives.</p>
			<br /><br />
        </div>
        
    
    </main>

    <footer>
         <hr />
         <strong>Sources:</strong>
         <br />
         <a href="https://builtin.com/artificial-intelligence/artificial-intelligence-future">https://builtin.com/artificial-intelligence/artificial-intelligence-future</a>
         <br /><br />
         CST336 Internet Programming. 2020&copy; Rodriguez <br />
         <strong>Disclaimer:</strong> The information in this webpage is fictitious. <br />
         It is used for academic purposes only.   
    </footer>    
    
    </body>
</html>
